<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Блог{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <h1><a href="{{ url_for('index') }}">Мій блог</a></h1>
    <header>
        <nav>
              <div>
                {% for section in sections %}
                        <a href="{{ url_for('section_page', section_slug=section.slug) }}">
                            {{ section.name }}
                        </a>
                {% else %}
                    Розділів поки немає
                  {% endfor %}
              </div>
        </nav>
    </header>
</header>

<hr>
<a href="{{ url_for('add_post') }}">➕ Додати пост</a>

{% block content %}{% endblock %}

</body>
</html>
